<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python List Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! ðŸ’»ðŸ `

### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [11]:
# Please write The solution Here for above question 1:
a=[10,11,12,13]
len=0
for i in a:
  len+=1

print(f'result : {len}')

result : 4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [17]:
# Please write The solution Here for above question 2:

a=[10,11,12,13,14,15]
print(f'result : max = {max(a)} , min = {min(a)}')

result : max = 15 , min = 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [30]:
from os import remove
# Please write The solution Here for above question 3:
a=[1,2,3,4,2,5]
b=2
a.remove(b)
print('result :',a)

result : [1, 3, 4, 2, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [48]:
# Please write The solution Here for above question 4:
l = [1,2,3,4,2,5]
s=sum(a)
l=0
for i in a:
  l+=1
print(f'result : {s/l}')

result : 2.8333333333333335

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [62]:
# Please write The solution Here for above question 5:
a=[1,2]
if a:
  print('result : Not Empty')

else:
  print('result : empty')

result : Not Empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [67]:
# Please write The solution Here for above question 6:
a=[1,2,3,4,2,5]
b=3
print(f'result : {b} index is {a.index(b)}')

result : 3 index is 2

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [111]:
# Please write The solution Here for above question 7:
n = [134, 121, 155]

for i in n:
  temp = i
  c = 0
  while i > 0:
    res = i % 10
    c = (c * 10) + res
    i = i // 10

  if temp == c:
    print(i, "is a palindrome")
  else:
    print(i, "is not a palindrome")

0 is not a palindrome
0 is a palindrome
0 is not a palindrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [95]:
# Please write The solution Here for above question 8:

a = [1,2,3,4,10]
b = [10,11,12,14]
c=[]
for i in a:
  if i in b:
    c.append(i)


print('result :',c)

result : [10]

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [73]:
# Please write The solution Here for above question 9:

a=[10,11,12,10,12,24]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(f'result : {b}')

result : [10, 11, 12, 24]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [102]:
# Please write The solution Here for above question 10:

a = ['a' , 'c' , 'b']
str(a)
b=sorted(a)
print('result :',b)

result : ['a', 'b', 'c']